<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361193016730-lrjo6oui661dqq98klckvgaq370emuh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361193016730-lrjo6oui661dqq98klckvgaq370emuh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBqY5NZpy9HV4cUam6pgSgUUJj_jg2un2I</string>
	<key>GCM_SENDER_ID</key>
	<string>361193016730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>bodybuilderai-fb5f9</string>
	<key>STORAGE_BUCKET</key>
	<string>bodybuilderai-fb5f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361193016730:ios:54e33a33bbd84c0b743e23</string>
</dict>
</plist>